body {
    font-size: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to right, purple, hotpink);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    max-width: 900px;
    width: 100%;
    height: 20rem;

    border-radius: 1rem;

    margin-bottom: 1rem;
}

.card {
    width: 100%;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

p {
    font-size: 1.2rem;
    background-color: lightyellow;
    width: 50%;
    height: 4rem;
    border: 4px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

button {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: lightgray;
    border: 3px solid black;
}

button:hover {
    background-color: gray;
    transform: scale(1.1);
}